@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
  background-color: rgb(41, 44, 56, 100);
  font-family: 'Montserrat', sans-serif;
}
.unitellogo{
  max-width: 64em;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: .3em;
  
}
.header { 
  display:flex ;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 14px 16px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
 .MainMenu{
   margin-top: 0.5em;
   margin-right: 5em;

 }
 .MainMenu:hover {
  color:#2EE301;
}
button{
  border-radius: 0.3em;
  padding: 0.1em 1em;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
  background-color:#2EE301;
}
hr{
  border:0.01rem solid #2EE301 ;
}